Content Analyzer (Tiktok).json
{
  "name": "Content Analyzer (Tiktok)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        192
      ],
      "id": "a24f81af-4c8f-4191-8273-26ee8b24fd85",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "Passing video to Gemini",
        "height": 340,
        "width": 1120,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        48
      ],
      "typeVersion": 1,
      "id": "b82852a5-3eb3-4afd-8428-e66d56d06664",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Updating database\n",
        "height": 340,
        "width": 1360,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        48
      ],
      "typeVersion": 1,
      "id": "69c7e68c-4da9-4e91-b360-b25bb35d158a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Analysis",
        "height": 340,
        "width": 840,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2624,
        48
      ],
      "typeVersion": 1,
      "id": "868fb521-33f9-4958-9608-024a47eebf30",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "views",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        432,
        192
      ],
      "id": "8c672248-6182-4f5d-83a3-ff37c4e8e1bb",
      "name": "Sort1"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app2fKJS9uG5jZaTE",
          "mode": "list",
          "cachedResultName": "Content Research (TikTok)",
          "cachedResultUrl": "https://airtable.com/app2fKJS9uG5jZaTE"
        },
        "table": {
          "__rl": true,
          "value": "tbln80uUyABnJ27hU",
          "mode": "list",
          "cachedResultName": "Reels",
          "cachedResultUrl": "https://airtable.com/app2fKJS9uG5jZaTE/tbln80uUyABnJ27hU"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -16,
        192
      ],
      "id": "0403f5ab-71d0-4261-835d-f92f5e764bea",
      "name": "Get Topics",
      "credentials": {
        "airtableTokenApi": {
          "id": "lFEUc6WS6idBd5Zh",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appHq8rXQgnTUdh9Y",
          "mode": "list",
          "cachedResultName": "Content Research (TikTok)",
          "cachedResultUrl": "https://airtable.com/appHq8rXQgnTUdh9Y"
        },
        "table": {
          "__rl": true,
          "value": "tbln80uUyABnJ27hU",
          "mode": "list",
          "cachedResultName": "Reels",
          "cachedResultUrl": "https://airtable.com/appHq8rXQgnTUdh9Y/tbln80uUyABnJ27hU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reelId": "={{ $json.id }}",
            "videoViewCount": "={{ $json.views }}",
            "commentsCount": "={{ $json.comments }}",
            "timestamp": "={{ $json.uploadedAtFormatted.toDateTime().toLocaleString(DateTime.DATETIME_FULL) }}",
            "caption": "={{ $json.title }}",
            "hashtags": "={{ $json.hashtags.join() }}",
            "likesCount": "={{ $json.likes }}",
            "videoUrl": "={{ $json.video.url }}",
            "user": "={{ $json.channel.username }}"
          },
          "matchingColumns": [
            "reelId"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reelId",
              "displayName": "reelId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "hashtags",
              "displayName": "hashtags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "videoViewCount",
              "displayName": "videoViewCount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "likesCount",
              "displayName": "likesCount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "commentsCount",
              "displayName": "commentsCount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "videoUrl",
              "displayName": "videoUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "format",
              "displayName": "format",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Tutorial",
                  "value": "Tutorial"
                },
                {
                  "name": "Review-Showcase",
                  "value": "Review-Showcase"
                },
                {
                  "name": "Challenge",
                  "value": "Challenge"
                },
                {
                  "name": "Behind-the-scenes",
                  "value": "Behind-the-scenes"
                },
                {
                  "name": "Reaction",
                  "value": "Reaction"
                },
                {
                  "name": "Vlog",
                  "value": "Vlog"
                },
                {
                  "name": "Before-After",
                  "value": "Before-After"
                },
                {
                  "name": "Q&A",
                  "value": "Q&A"
                },
                {
                  "name": "Unboxing or Hauls",
                  "value": "Unboxing or Hauls"
                },
                {
                  "name": "Skit",
                  "value": "Skit"
                },
                {
                  "name": "Collaboration",
                  "value": "Collaboration"
                },
                {
                  "name": "Other",
                  "value": "Other"
                },
                {
                  "name": "Giveaway",
                  "value": "Giveaway"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "hook",
              "displayName": "hook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "visual hook",
              "displayName": "visual hook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "analysis",
              "displayName": "analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        880,
        192
      ],
      "id": "f3576aad-61c0-4f88-a890-75cb16adfbb0",
      "name": "Add/Update Tiktoks",
      "credentials": {
        "airtableTokenApi": {
          "id": "lFEUc6WS6idBd5Zh",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.fields.videoUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        112
      ],
      "id": "b46392ab-485b-4767-80d2-6632aeef4c73",
      "name": "Download file from TikTok"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Upload file').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2192,
        112
      ],
      "id": "87554b2b-558f-4efd-a9c4-75abfadb75c0",
      "name": "Download file"
    },
    {
      "parameters": {
        "name": "={{ $json.fields.user }}+{{ $json.id }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/10umZzSpcYo6l_lxUDoO5eAss76dyIhrj",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1760,
        112
      ],
      "id": "28dc0206-da3f-4bfb-b0a6-f14b3966518c",
      "name": "Upload file"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/files",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $('Config').first().json.GeminiKey }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Protocol",
              "value": "resumable"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "start"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Length",
              "value": "={{ $json.size }}"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Type",
              "value": "={{ $json.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"file\": {\n\"display_name\": \"{{ $json.name }}\"\n}\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        112
      ],
      "id": "c98e3a66-ac9a-4e2c-86c0-064ef56321c7",
      "name": "Gemini: Set up upload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gemini: Set up upload').item.json.headers['x-goog-upload-url'] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $('Config').first().json.GeminiKey }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Length",
              "value": "={{ $('Upload file').item.json.size }}"
            },
            {
              "name": "X-Goog-Upload-Offset",
              "value": "0"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "upload, finalize"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        112
      ],
      "id": "9a420a68-6a29-4897-ba82-72c028a8d256",
      "name": "Gemini: Upload file"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2864,
        112
      ],
      "id": "30306270-9355-4d35-8d2e-2dc062b0eb19",
      "name": "Wait",
      "webhookId": "a4b37d63-4a12-4e60-9aee-9e8036205a53"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appHq8rXQgnTUdh9Y",
          "mode": "list",
          "cachedResultName": "Content Research (TikTok)",
          "cachedResultUrl": "https://airtable.com/appHq8rXQgnTUdh9Y"
        },
        "table": {
          "__rl": true,
          "value": "tbln80uUyABnJ27hU",
          "mode": "list",
          "cachedResultName": "Reels",
          "cachedResultUrl": "https://airtable.com/appHq8rXQgnTUdh9Y/tbln80uUyABnJ27hU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reelId": "={{ $('Get Tiktoks').item.json.id }}",
            "style": "={{ JSON.parse($json.candidates[0].content.parts[0].text)[0].style }}",
            "tone": "={{ JSON.parse($json.candidates[0].content.parts[0].text)[0].tone }}",
            "hook": "={{ JSON.parse($json.candidates[0].content.parts[0].text)[0].hook }}",
            "visual hook": "={{ JSON.parse($json.candidates[0].content.parts[0].text)[0].visualHook }}",
            "CTA": "={{ JSON.parse($json.candidates[0].content.parts[0].text)[0].CTA }}",
            "analysis": "={{ JSON.parse($json.candidates[0].content.parts[0].text)[0].analysis }}",
            "format": "={{ JSON.parse($json.candidates[0].content.parts[0].text)[0].category }}"
          },
          "matchingColumns": [
            "reelId"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "reelId",
              "displayName": "reelId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "hashtags",
              "displayName": "hashtags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "videoViewCount",
              "displayName": "videoViewCount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "likesCount",
              "displayName": "likesCount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "commentsCount",
              "displayName": "commentsCount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "videoUrl",
              "displayName": "videoUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "format",
              "displayName": "format",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Tutorial",
                  "value": "Tutorial"
                },
                {
                  "name": "Review-Showcase",
                  "value": "Review-Showcase"
                },
                {
                  "name": "Challenge",
                  "value": "Challenge"
                },
                {
                  "name": "Behind-the-scenes",
                  "value": "Behind-the-scenes"
                },
                {
                  "name": "Reaction",
                  "value": "Reaction"
                },
                {
                  "name": "Vlog",
                  "value": "Vlog"
                },
                {
                  "name": "Before-After",
                  "value": "Before-After"
                },
                {
                  "name": "Q&A",
                  "value": "Q&A"
                },
                {
                  "name": "Unboxing-or-Hauls",
                  "value": "Unboxing-or-Hauls"
                },
                {
                  "name": "Skit",
                  "value": "Skit"
                },
                {
                  "name": "Collaboration",
                  "value": "Collaboration"
                },
                {
                  "name": "Other",
                  "value": "Other"
                },
                {
                  "name": "Giveaway",
                  "value": "Giveaway"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "style",
              "displayName": "style",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "User-generated",
                  "value": "User-generated"
                },
                {
                  "name": "Professionally-produced",
                  "value": "Professionally-produced"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tone",
              "displayName": "tone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "High-Energy",
                  "value": "High-Energy"
                },
                {
                  "name": "Funny-Playful",
                  "value": "Funny-Playful"
                },
                {
                  "name": "Informative-Educational",
                  "value": "Informative-Educational"
                },
                {
                  "name": "Emotional-Vulnerable",
                  "value": "Emotional-Vulnerable"
                },
                {
                  "name": "Cool-Confident",
                  "value": "Cool-Confident"
                },
                {
                  "name": "Rant-Frustrated",
                  "value": "Rant-Frustrated"
                },
                {
                  "name": "Romantic-Sentimental",
                  "value": "Romantic-Sentimental"
                },
                {
                  "name": "Inspirational-Motivational",
                  "value": "Inspirational-Motivational"
                },
                {
                  "name": "Calming-Soothing",
                  "value": "Calming-Soothing"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "hook",
              "displayName": "hook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "visual hook",
              "displayName": "visual hook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CTA",
              "displayName": "CTA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "analysis",
              "displayName": "analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3296,
        192
      ],
      "id": "a962766f-4915-48cc-ae95-084e731612d5",
      "name": "Add analysis"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $('Config').first().json.GeminiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"contents\": [\n        {\n            \"parts\": [\n                {\n                    \"text\": \"{{$('Config').first().json.analysisPrompt}}\"\n                },\n                {\n                    \"file_data\": {\n                        \"mime_type\": \"{{ $('Save Values').item.json.mimeType }}\",\n                        \"file_uri\": \"{{ $('Save Values').item.json.geminiFileUrl }}\"\n                    }\n                }\n            ]\n\n        }\n    ],\n    \"generationConfig\": {\n        \"response_mime_type\": \"application/json\",\n        \"response_schema\": {\n            \"type\": \"ARRAY\",\n            \"items\": {\n                \"type\": \"OBJECT\",\n                \"properties\": {\n                    \"analysis\": {\n                        \"type\": \"STRING\"\n                    },\n                    \"category\": {\n                        \"type\": \"STRING\"\n                    },\n                    \"hook\": {\n                        \"type\": \"STRING\"\n                    },\n                    \"visualHook\": {\n                        \"type\": \"STRING\"\n                    },\n                    \"style\": {\n                        \"type\": \"STRING\"\n                    },\n                    \"CTA\": {\n                        \"type\": \"STRING\"\n                    },\n                    \"tone\": {\n                        \"type\": \"STRING\"\n                    }\n                },\n                \"required\": [\n                    \"analysis\",\n                    \"category\",\n                    \"hook\",\n                    \"visualHook\",\n                    \"style\",\n                    \"CTA\",\n                    \"tone\"\n                ]\n            }\n        }\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3072,
        112
      ],
      "id": "cb0319bc-3205-4c5d-beb3-5f287940dd61",
      "name": "Gemini: Analyze",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "170c7186-644d-47f9-9b48-bd4d10a47c40",
              "name": "geminiFileUrl",
              "value": "={{ $json.file.uri }}",
              "type": "string"
            },
            {
              "id": "2064aedb-aee8-48fa-8e37-448816afa46f",
              "name": "mimeType",
              "value": "={{ $json.file.mimeType }}",
              "type": "string"
            },
            {
              "id": "50feff58-2b22-4dd7-8588-ca65b0065cb0",
              "name": "googleDriveUrl",
              "value": "={{ $('Upload file').first().json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "d99d5d13-a23b-471b-87d5-ec86d89be4be",
              "name": "name",
              "value": "={{ $json.file.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        112
      ],
      "id": "b5e4e04f-16fe-46be-b3e3-637a7cb5366e",
      "name": "Save Values"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1312,
        192
      ],
      "id": "75eea6fe-b0fb-413d-a4dd-e169ad3b83f6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "maxItems": "={{ $('Config').first().json.getTop }}"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        656,
        192
      ],
      "id": "b5d6a342-3cea-4e19-946e-edc332dea8c1",
      "name": "Limit: Top N"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d842c98-dbc6-4862-ae59-12775dd4f6bb",
              "name": "getTop",
              "value": 15,
              "type": "number"
            },
            {
              "id": "8062cef5-55cd-4a6e-a2d7-be4c74d6956d",
              "name": "videosCount",
              "value": 5,
              "type": "number"
            },
            {
              "id": "fcde1437-dfd5-4c66-bd89-2f0934f8233e",
              "name": "analysisPrompt",
              "value": "Provide an analysis of the TikTok video based solely on the following criteria: 1. Determine which single category best fits the video based on its content and potential connection to the video’s success. Choose only one from: Tutorial, Review-Showcase, Giveaway, Challenge, Behind-the-scenes, Reaction, Vlog, Before-After, Q&A, Unboxing-or-Hauls, Skit, Collaboration. If none apply, select Other. 2. Determine Hook and Visual Hook and why it grabs the viewer's attention. 3 Determine content type. Choose only from User-generated or Professionally-produced. 4. Determine presence and effectiveness of any CTA (e.g., “follow,” “comment,” “share”) 5. Given the video's popularity, explain in one sentence what makes it effective. 6. Categorize the video by tone. Select a single category best fits the video based on its content and potential connection to the video’s success. Choose only one from: High-Energy, Funny-Playful, Informative-Educational, Cool-Confident, Calming-Soothing, Rant-Frustrated, Romantic-Sentimental, Inspirational-Motivational.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        192
      ],
      "id": "b0a6a874-67ee-410f-986c-d9c038abf316",
      "name": "Config"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "886ec1ce-a8cc-4b06-8c0c-b3b53bb2c448",
              "leftValue": "={{ $json.fields.analysis }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1104,
        192
      ],
      "id": "2becb73d-3a7d-4b0d-b234-8e60c5f48ae8",
      "name": "Analyzed yet?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/5K30i8aFccKNF5ICs/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer apify_api_"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customMapFunction\": \"(object) => { return {...object} }\",\n  \"dateRange\": \"THIS_WEEK\",\n  \"keywords\": [\n    \"{{ $json.Name }}\"\n  ],\n  \"location\": \"US\",\n  \"maxItems\": {{ $('Config').item.json.videosCount }}\n} ",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": "=21"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        192
      ],
      "id": "3fdbca3f-12ab-4286-9626-8de18e38ecdd",
      "name": "Get Tiktoks1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Limit: Top N",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Topics": {
      "main": [
        [
          {
            "node": "Get Tiktoks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add/Update Tiktoks": {
      "main": [
        [
          {
            "node": "Analyzed yet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file from TikTok": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Gemini: Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Gemini: Set up upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Set up upload": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Upload file": {
      "main": [
        [
          {
            "node": "Save Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Gemini: Analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add analysis": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Analyze": {
      "main": [
        [
          {
            "node": "Add analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Values": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download file from TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit: Top N": {
      "main": [
        [
          {
            "node": "Add/Update Tiktoks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyzed yet?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tiktoks1": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd1e0518-2d12-4651-a76f-a8cbb2918b41",
  "meta": {
    "instanceId": "b9f6994d86fcb8bbb7828115d79b4d77a440a674228dd811281353b55c9d2cf3"
  },
  "id": "e9EDmZG65Ur16Fm9",
  "tags": []
}